* {
  box-sizing: border-box;
}

body {
  background: url("img/light-cork-board-background.jpg") repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

.note-board {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.header__title {
  margin: 10px 20px 0px;
  font-family: "Indie Flower", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #36151e;
}

.header__controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
  background-color: #ffe2fe;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #593f62;
  outline: none;
}

.note {
  font-family: "Indie Flower", cursive;
  color: #8fa1b1;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ffe2fe;
  border: 4px solid #36151e;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}

.note__title {
  font-family: "Indie Flower", open sans;
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}

.note__description {
  font-family: "Open Sans";
  flex-grow: 1;
  font-size: 14px;
  cursor: default;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: #8fa1b1;
  padding: 5px;
}

.note__delete:hover {
  color: #593f62;
  font-weight: 900;
  cursor: pointer;
}
